In [56]:
import psycopg2
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()  # take environment variables from .env.

True

## Establish Connection

In [51]:
DB_USER = os.environ.get("DB_USER")
DB_PASS = os.environ.get("DB_PASS")
DB_HOST = os.environ.get("DB_HOST")
DB_PORT = os.environ.get("DB_PORT")
DB_NAME = os.environ.get("DB_NAME")

In [80]:
conn = psycopg2.connect(host=DB_HOST, database=DB_NAME, user=DB_USER, password=DB_PASS)

In [81]:
cur = conn.cursor()

## Get All Builds

In [82]:
cur.execute("""SELECT * FROM builds""")

In [83]:
cols = [desc[0] for desc in cur.description]
data = cur.fetchall()

In [84]:
builds = pd.DataFrame(data, columns=cols)
builds

,build_id,customer,material_type,hatch_distance,num_of_layers,layer_thickness,build_time,max_build_height,scan_speed,wire_cut,heat_treat,build_cost,total_cost
0,1667295786863,Sanzhar,ss316l,18.0,300,0.00003,20.0,20.0,300.0,true,true,1.487681e+06,1.487681e+06

## Get All Parts

In [85]:
cur.execute("""SELECT * FROM parts""")

In [86]:
cols = [desc[0] for desc in cur.description]
data = cur.fetchall()

In [87]:
parts = pd.DataFrame(data, columns=cols)
parts

,part_id,part_name,material_type,number_of_parts,part_volume,support_volume,surface_area,box_volume,part_cost,build_id
0,3,Car emblem,ss316l,10,1000.0,100.0,20.0,10.0,1.487681e+06,1667295786863

## Get All Builds and Parts

In [88]:
cur.execute("""SELECT * FROM parts as p JOIN builds as b ON p.build_id = b.build_id ORDER BY b.build_id """)

In [89]:
cols = [desc[0] for desc in cur.description]
data = cur.fetchall()

In [90]:
parts_and_builds = pd.DataFrame(data, columns=cols)
parts_and_builds

,part_id,part_name,material_type,number_of_parts,part_volume,support_volume,surface_area,box_volume,part_cost,build_id,...,hatch_distance,num_of_layers,layer_thickness,build_time,max_build_height,scan_speed,wire_cut,heat_treat,build_cost,total_cost
0,3,Car emblem,ss316l,10,1000.0,100.0,20.0,10.0,1.487681e+06,1667295786863,...,18.0,300,0.00003,20.0,20.0,300.0,true,true,1.487681e+06,1.487681e+06

## Close Connection

In [22]:
conn.close()